body, html{
    height: 100%;
}
.cart-container>h1{
    margin-top: 40px;
    margin-bottom: 0px;
    height: 100%;
    overflow: none;
}
.cart-container>h2{
    margin:0px;
}
#cart-input{
    z-index:4;
    transform:translateX(-175px);
    height: 350px;
    width: 350px;
    border: none;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    color: transparent;
    resize:none;
    cursor:default;
}
#cartimagediv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#cartimg{
    z-index:3;
    transform: translateX(175px);
}

#checkout-button {
    background-color: black;
    height: 50px; 
    padding: 0 20px; 
    color: white;
    border-radius: 25px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: none;
    margin-top: 30px;
    margin-left: 85%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

#checkout-button:hover {
    background-color: #333; 
    transform: translateY(-2px); 
}


#checkout-button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}

@media screen and (max-width: 700px) {
    #checkout-button {
        width: 80%; 
        margin-left: 35px; 
        margin-top: 20px; 
    }
}
@media screen and (max-width: 700px) {
    #cartimg{
        height: 180px;
        transform:translateX(90px);
    }
    #cart-input{
        transform:translateX(-90px);
        height: 180px;
        width: 180px;
    }
}