.stuff-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.post-card {
  background: #ffffff!important;
  border: 1px solid #e5e7eb!important;
  border-radius: 0.25rem!important;
  padding: 1.5rem!important;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); */
  transition: transform 0.2s ease, box-shadow 0.2s ease!important;
  overflow: hidden!important;
}

.post-card:hover {
  /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08); */
  border: 1px solid rgb(203, 203, 203)!important;
}

.post-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.post-snippet {
  font-size: 0.95rem;
  color: #4b5563;
  line-height: 1.6;
}
